/*
 * Admin styles
 *
 * @package Origin
 * @subpackage Template
 */
.hybrid-core-settings-wrap .inside span.description {
    font-size: 11px;
    font-style: normal;
    color: #999;
}
.hybrid-core-settings-wrap #origin-theme-meta-box .inside img {
    background: #fff;
    padding: 3px;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	max-width: 100%;
}
#hybrid-core-footer textarea {
    max-height: 160px;
}
#colorpicker_link_color { display: none; }
#colorpicker_link_color_link { margin-left: 8px; }
#origin_theme_settings-origin_favicon_url, #origin_theme_settings-origin_logo_url { width: 75%; }
.favicon_url p { max-width: 32px; }
.logo_url p { max-width: 200px; }
#origin_theme_settings-origin_slider_timeout { width: 85px; }
#origin_theme_settings-origin_custom_css { width: 98%; }
#wp-origin_theme_settings-footer_insert-editor-tools { display: none; }
