/*
Theme Name:     Neighborhow
Theme URI:      http://neighborhow.org/
Description:	A child theme for Origin 
Author:         E Hunt
Author URI:     http://neighborhow.org/
Template:		Origin
Version:        0.1.0
*/

@import url('../origin/style.css');

/*--------COLORS ---------
	01779F = blue
	BEF202 = neon green
	DE4526 = red
	51B4D4 = light blue for hover
	3498A7 = pool blue
-------------------------*/

/*--------------------------BASICS------------------------*/
body {
/*	font-family: "Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;	*/
 	font-family:"Bitter",Georgia,"Times New Roman",Times,serif !important;	
	font-size:0.8125em/1.692307em;
/*	color:#888 !important;*/
	background:transparent !important;
	background:#fff !important;
}
a {
	color: #01779F; /*519548;*/
	text-decoration: none;
	border:none;
}
a:hover {
	text-decoration: none;
	color: #51B4D4;
	border-bottom:1px solid #51B4D4;
	padding-bottom:.15em;
}
a img { 
	opacity: 1 !important; 
	filter: alpha(opacity=100) !important;	
	text-decoration:none !important;
	border-bottom:none !important;
}
a.btn-normal:hover {
	text-decoration:none;
	padding: 4px 10px 4px;
}


/*---------------------LAYOUT---------------------*/
/*#container { }
.wrap {
	max-width: 940px;
	margin: 0 auto;
	position: relative;
	padding-bottom:1.5em;	
/*	border:1px solid red;
}*/

.row-header {
	margin:0 auto 0 auto;
	width:100%;
	background:#fff !important;
/*	border-bottom:4px solid #F57305;*/
/*	border:1px solid red;*/
}
.row-promo {
	margin:0 auto 0 auto;	
	background:#01779F; /*055E7E; /*01779F; /*41B5A9; /*2DA4A8; /*06799F; /*35A9CF; /*01779F;  0077A0 /*   */
/*	border:1px solid red;*/	
	border-top:4px solid #01779F; /*FE8200; /*3498A7; /*F57305; /*3498A7;*/
}
.row-content {
	margin:0 auto 0 auto;	
	background:#fff !important; /*fcfcfc;*/
	padding-bottom:1.5em;
/*	border:1px solid red;*/
}
.with-green {
	border-top:4px solid #01779F; /*3498A7; /*F57305; /*055E7E;*/
}
.with-orange {
	border-top:4px solid #01779F; /*3498A7; /*F57305;*/
}
.row-footer {
	margin:0 auto 0 auto;	
	background:#01779F;
/*	border:1px solid red;*/
	border-top:4px solid #3498A7;
}
#header {
	clear: both;
	padding:.15em 0 0 0;	
/*	height:88px;*/
	max-width:940px;
	margin:0 auto 0 auto;
	position:relative;
	height:92px;
/*	background-color:#fff; /*fafafa  efefef*/	
/*	border:1px solid red;*/
}
#site-promo {
/*	width:100%;*/
	clear: both;
/*	display:inline-block;
	margin:0 auto -6px auto;*/
/*	border:1px solid red;*/
	height:90px;
	padding:1em 0 0 0;	
	max-width:940px;
	margin:0 auto 0 auto;
	position: relative;
/*	background:#fcfcfc !important; /*fcfcfc;*/
/*	border:1px solid blue;*/
}
#main {
	clear: both;
/*	width: 100%;
	margin: 0 1.5em 0 1.5em;*/
	padding:0;	
	max-width:940px;
	margin:0 auto 0 auto;
	position: relative;
/*	border:1px solid red;*/
}
#content {
	clear:both;
	padding:0 0 0 0;
	max-width:604px;
	margin:2em 1.75em 0 1.5em;
/*	border:1px solid red;*/
}
.sidebar {
	margin-top:2em !important;
	padding-right:1.25em !important;
	color:#555 !important;
/*	border:1px solid red;	*/
}
#footer {
	clear:both;
	padding:0;
	max-width:940px;	
	margin: 0 auto 0 1.5em;
	font-size: 0.8461538461538462em;
	color: #fff;
	overflow: visible !important;
/*	border-top:4px solid #055E7E;*/
	border-top:none !important;
}

#comments-template { clear: left; }

#sidebar-subsidiary {
	overflow: visible;
	width: 100%;
	margin: 30px auto 0 auto;
	padding: 30px 0 0 0;
	border-top:4px solid #01779F;
	clear: both;
}

.break {
	border-bottom:1px solid #01779F;
	padding:0;
}
.break-promo {
	clear:both;
/*	margin:0 0 1.5em 0;	*/
	margin:0 0 0 0;		
/*	padding:1em 0 0 0;*/
	padding:0 0 0 0;	
}
.break-feature {
	clear:left;
	margin:0 0 1.5em 0;	
}


/*---------------------HEADER---------------------*/
#branding {
	float: left;
	width: 25%;
/*	overflow: hidden;*/
	overflow:visible !important;
/*	margin-top: 20px;*/
	margin:1.1em 0 1em 1.5em;
/*	border:1px dashed blue;*/
}
#header img {
	float:left;
	max-width: 100%; 
	margin:0 .75em 0 0;
}
.site-title {
	float:left;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: normal;
/*	margin: 0 0 20px 0;*/
	margin:1em 0 1em 0;
/*	text-transform: uppercase;
	letter-spacing: -2px;*/
	letter-spacing: .075em;	
	font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
/* 	font-family:"Bitter",Georgia,"Times New Roman",Times,serif;*/
}
a.home-brand {
	color:#01779F; /*DE4526; /*0C8F8F;*/
	border-bottom: none;
}
#header img:hover,
a.home-brand:hover {
	text-decoration:none;
	border-bottom:none;
	color:#DE4526;
}


/*---------------------HEADER SEARCH---------------------*/
#searchform {
	position: relative;
	top:-10px;
	padding:0;
	margin:0;
	height:19px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#01779F !important;
	
/*	width:8em;*/
}
#searchform input#s {
	background: url(images/icons/search.png) no-repeat 11em .5em;
	width:12em;
	height:19px;
	border-color:#01779F !important;	
	background-color:#fff;
	font-size:.95em;
	color:#01779F !important; /*555;*/
	font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}
#searchform #searchsubmit {
	display: none;
}


/*---------------------MENU---------------------*/
#menu-primary2 {
	font-size: 1em;
/*	width: 75%;*/
	width:65%;
/*	margin: 30px 0 12px 0;*/
	float: right;
	position: relative;
	z-index: 99;
	margin:2.95em 1.5em 0 0;
	font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;	
/*	border:1px dashed red;*/	
}
#menu-primary2 .menu2 { float: right; }
#menu-primary2 .menu2 ul { float: right; }
#menu-primary2 li {
	display: block;
	float: left;
	min-height: 30px;
}
#menu-primary2 li a {
	line-height: 1em;
	margin-left: 3.5em;
	display: block;
	text-transform: uppercase;
	font-size: 1em; /*0.8461538461538462em;*/
	color:#01779F;
	text-transform:none !important;
	box-shadow:none !important;
	text-shadow:none !important;
}
#menu-primary2 li a:hover,
#menu-primary2 li.menu-item a:hover,
#menu-primary2 li.current-menu-item a:hover,
#menu-primary2 li.dropdown a:hover {
	border-bottom:none;
	color:#51B4D4;	
	text-decoration:none;
}
#menu-primary2 li.current-menu-item a { 
	color: #DE4526; /*405059; */
/*	font-weight:bold;*/
/*	border-bottom:1px solid #405059;*/
	padding-bottom:.15em;
}
#menu-primary2 li li, 
#menu-primary2 li li.current-menu-item li {
	clear: both;
	float: none;
	border-top: 1px dotted #01779F;
}
#menu-primary2 li li:first-child, 
#menu-primary2 li li.current-menu-item li:first-child { border-top: none; }
#menu-primary2 li li a, 
#menu-primary2 li li.current-menu-item li a {
	font-size: 1em;
	text-transform: none;
	color: #01779F;
	margin: 0 5px;
	padding: 12px 15px;
}
#menu-primary2 ul li a:hover, 
#menu-primary2 li ul li a:hover { color: #DE4526; }

.menu2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu2 li:hover { visibility: inherit }
.menu2 li {
	float: left;
	position: relative;
}
.menu2 a {
	display: block;
	position: relative;
}
.dropdown {
	font-size:1em !important;
	font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;	
}
.dropdown .dropdown-toggle .caret{
	margin-top: 5px;
	margin-left:0px;
	border-top-color: #41B5A9;
	border-bottom-color: #41B5A9;
	opacity: 1;
	filter: alpha(opacity=100);	
}
.dropdown-menu .divider {
 	border: 1px solid #41B5A9 !important;
}
.dropdown-menu a,
.dropdown-menu li.menu-item,
.dropdown-menu li.menu-item a {
	color: #01779F !important;
	text-decoration: none;
	background-color: #eee;	font-size:1em !important;
}
.dropdown-menu a:hover,
.dropdown-menu li.menu-item a:hover {
	background-color:transparent !important;
	color:#DE4526 !important;
}


/*---------------------PROMO---------------------*/
#site-promo h2 {
	font-size: 1.75em;
	float: left;
	width:68%;
	margin:.2em 0 0 1.5em;	
	padding:0;
	line-height: 150%;
	color: #fff;
	text-align: center;
}
p.buttons {
	float:left;
/*	width:22%;*/
	padding:0 !important;	
	margin:0 0 0 2em !important;
	line-height:2.6em;
	font-size:1.15em;
	letter-spacing:.05em !important;
}
a.button-start {
	border-radius:5px;
	background-color:#DE4526; /*DE4526; /*DE4526; /*FE8200; /*F57305;*/
}
a.button-start:hover {
	background:#888;
	border-color:#888;
	padding: 5px 12px 6px 12px;	
	color:#fff;
}


/*---------------------HOME PAGE ENTRIES-----------------*/
.sticky-div {
	border:1px solid #01779F; /*3498A7;	*/
	padding:2px 4px 3px 2px;
/*	margin-bottom:-.5em !important;*/
	margin-bottom:1.8em;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
div.entry-details {
/*	background:#fff;*/
/*	height:5.25em;*/
	margin:0 -1px 0 1px !important;
	background:#eee; /*BEF202;*/
	padding:.5em !important;
	display:block;
	height:5.25em;
	color:#555;
}
.hentry img {
	border:none !important;
}
.entry-details img:hover {
	border:none;
	text-decoration:none;
}
.sticky-div p.home-title {
	width:80%;
	float:left;
	margin:0 2em 0 0;
	padding:0 0 0 .5em;
}
.home-title a {
	font-size: 1.3em;
	line-height: 1.3em;
/*	border: none;*/
	word-spacing: 2px;
/*	text-transform:none !important;*/
	color: #555;
}
p.home-title span,
p.author-link span {
/*	border-bottom:none !important;
	text-transform:none !important;*/
	word-spacing:0 !important;
	font-size:.9em;
	color:#555; /*afafaf;*/
}
.sticky-div div.home-author {
	float:right;
	margin:0;
	padding:0;
}
.sticky-div p.home-avatar {
	margin:0 auto 0 auto;
	width:3.5em;
	height:3.5em;
	padding-right:1em;
}
.sticky-div p.home-avatar img {
	border:1px solid #fff !important;
	padding:2px;
/*	background:#fff;*/
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.sticky-div p.author-link {
	font-size:.9em;
	padding:6px 0 0 0;
	margin:0;
/*	text-transform:none !important;*/
	word-spacing: 0 !important;
	padding-right:1em;
}
.author-link a {
	color: #01779F;
}
.home-title a:hover,
.author-link a:hover {
	color:#F57305;
	border-bottom:none;
	text-decoration:none;
}
.featured { 
	margin-bottom: 0px !important; 
}
.feat-div {
	border-bottom:1px solid #01779F;
}
.feat-div p.home-title {
	margin-bottom:.75em;
}
.feat-div p.author-link {
	margin-bottom:.75em;	
}
.feat-summary p { 
	font-size:1.25em;
	line-height:140%;
	color:#555;
 	font-family:"Bitter",Georgia,"Times New Roman",Times,serif !important;		
}
.feat-div img {
	border:1px solid #3498A7 !important;
	padding:2px !important;
}
a.gray-link {
	color:#afafaf;
}
div.feat-div:last-child { /*remove border from last*/
	border-bottom:none;
	margin-bottom:0;
}


/*---------------------FOOTER-----------------*/
#footer p {
	margin:0 !important;
	padding:0 !important;
}


/*---------------------MEDIA QUERIES-----------------*/
/* Tablet (portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#branding {
		width:30%;
	}
	#menu-primary2 {
		width:64%;
		margin-right:0 !important;
		padding-right:0 !important;
	}
	#site-promo h2 { }

	.sidebar {
		clear:both;
		float:left !important;
		margin-left:1.5em !important;
		width:40% !important;
	}
	p.buttons {
		padding:0 0 1em 0 !important;
	}
}

/* Mobile (portrait) */
@media only screen and (max-width: 767px) {
	p.site-title {
		margin:1em 0 0 0;
		padding:0px;
	}
	#branding {
		width:90%;
	}
	#menu-primary2 {
		margin: 0 !important;
		padding:0 0 0 0;
		background:#3498A7;
		float:left;
		width:100%;
	}
	#menu-primary2 .menu2 {
		width:100%;
	}
	#menu-primary2 .menu2 ul {
		background:#ededed;
		margin:0 0 0 0;
		width:100%;
		border:none !important;
	}
	#menu-primary2 li {
		border-bottom:1px solid #555;
		width:100%;
		display:block;
	}
	#menu-primary2 li a,
	#menu-primary2 li.current-menu-item a{
		padding:.95em .5em .95em 1em;
		margin:0;
		border-bottom:none !important;		
	}
	.dropdown-menu a,
	.dropdown-menu li.menu-item,
	.dropdown-menu li.menu-item a {
		background-color: #fff;
		width:98% !important;
		margin-left:0em !important;
		margin-right:0 !important;
		padding-right: 0 !important;
		padding-left:.5em !important;	
	}
	#searchform {
		margin-top:.5em;
	}
	#searchform input#s{
		width:220px !important;
		background: url(images/icons/search.png) no-repeat 16em .5em;		
		background-color:#fff;
	}
	#site-promo h2 {
		font-size:1.5em;
		margin-bottom:0;
		padding-bottom:0;
		width:80%;
	}
	p.buttons {
		clear:left;
		float:left;
		padding:0 0 1em 0 !important;
		margin-top:0;
	}	
	#content {
		margin-right:0 !important;
		padding-right:0 !important;	
		width:90%;
	}
	.sidebar {
		clear:both;
		float:left !important;
		margin-left:1.5em !important;
		width:90% !important;
		padding-right:0 !important;
	}	
	.sidebar .widget {
/*		padding:0  0 1.5em !important;*/
/*		padding:0 1.5em 0 1.5em !important;		*/
	}
	p.home-title {
		font-size: 90%;
	}
	
}

@media only screen and (max-width: 480px) {	
/*	.wrap {max-width:340px;}*/
	#branding {
		width:80%;
	}
	#site-promo h2 {
		font-size:1.4em;
		width:80%;
		margin-bottom:0;
		padding-bottom:0;
	}
	p.buttons {
		clear:left;
		float:left;
		margin:0 0 0 0;
		padding:0 0 1em 0 !important;
		width:80%;
	}
	#searchform input#s{
		width:220px !important;
		background: url(images/icons/search.png) no-repeat 16em .5em;		
		background-color:#fff;
	}
	div.entry-details {
		padding-bottom:1em;
	}
	p.home-title {
		width:65% !important;
		font-size:80% !important;
	}
	p.home-title span {
		font-size:120% !important;	
	}
}


