/*
Theme Name:     Neighborhow
Theme URI:      http://neighborhow.org/
Description:	A child theme for Origin 
Author:         E Hunt
Author URI:     http://neighborhow.org/
Template:		Origin
Version:        0.1.0
*/

@import url('../origin/style.css');

/*  COLORS 
  =============
	419d55 = base green was 45a648
	346e35 = dark green
	d1fc06 = bright pea green
	449921 = green link
	00295C = secondary blue
	F38200 = tertiary orange OR f38345
	
	eeeeee = light gray
	3a3a3a = dark gray
	
	f3f3f3 =light gray
	fefefe or F4F4F4
	
	/*
	new
	4580B4 = blue
	F38200 = orange
	gray = e5e5e5
	3C8F46 - new green
	error = B81900

  =======================
*/

/*---------------------------------BASICS----------------------------------*/
body {
/*	font-family: "Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;	*/
	font-size:0.8125em/1.692307em;
	color: #444;
	background:transparent !important;
	background:#fff !important;
}
a {
	color: #3C8F46;
	text-decoration: none;
	border:none;
}
a:hover {
	text-decoration: none;
	color: #F38200;
	border-bottom:1px solid #F38200;
	padding-bottom:.15em;
}
a img { 
	opacity: 1 !important; 
	filter: alpha(opacity=100) !important;	
	text-decoration:none !important;
	border-bottom:none !important;
}
a.btn-normal:hover {
	text-decoration:none;
	padding: 4px 10px 4px;
}


/*---------------------LAYOUT---------------------*/
#container { 
	border:1px solid black;
}
.wrap {
	max-width: 940px;
	margin: 0 auto;
	position: relative;
/*	padding-bottom:4em;*/	
	border:1px solid red;	
}
#main {
	clear: both;
	width: 100%;
	margin: 0 auto 0 auto;
	position: relative;
	border-top:4px solid #3C8F46;
	padding-top:1em; /*pad below bar*/
/*	border:2px solid black;*/	
}
#content {
	clear:both;
	margin-bottom:0;
	padding-bottom:0;	
	border:1px solid red;
}
#comments-template { clear: left; }
#sidebar-subsidiary {
	overflow: visible;
	width: 100%;
	margin: 30px auto 0 auto;
	padding: 30px 0 0 0;
	border-top: 5px solid #444;
	clear: both;
}
#footer {
	overflow: hidden;
	clear: both;
	width: 100%;
	margin: 0 auto;
	padding: 26px 0 30px 0;
	border-top: 5px solid #444;
	font-size: 0.8461538461538462em;
	color: #aaa;
}
.break {
	border-bottom:1px solid #ddd;
	padding:0;
}
.break-promo {
	clear:both;
	margin:0 0 1.5em 0;	
	padding:1em 0 0 0;
}
.feature-break {
	clear:left;
	margin:0 0 1.5em 0;	
}


/*---------------------HEADER---------------------*/
#header {
	clear: both;
	width: 100%;
	margin:0;
	padding:0;	
	border:1px solid blue;
	height:94px;
	background-color:#fefefe; /*fafafa  efefef*/
}
#branding {
	float: left;
	width: 25%;
/*	overflow: hidden;*/
	overflow:visible !important;
/*	margin-top: 20px;*/
	margin:1em 0 1em 1.5em;
	border:1px dashed blue;
}
#header img {
	float:left;
	max-width: 100%; 
	margin:0 .75em 0 0;
}
.site-title {
	float:left;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: normal;
/*	margin: 0 0 20px 0;*/
	margin:1em 0 1em 0;
/*	text-transform: uppercase;
	letter-spacing: -2px;*/
	letter-spacing: .075em;	
	font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
/*	word-wrap: break-word;*/
}
a.home-brand {
	color:#3C8F46;
	border-bottom: none;
}
#header img:hover,
a.home-brand:hover {
	text-decoration:none;
	border-bottom:none;
	color:#F38200;
}


/*---------------------HEADER SEARCH---------------------*/
#searchform {
	position: relative;
	top:-10px;
	padding:0;
	margin:0;
	height:19px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
/*	width:8em;*/
}
input#s {
	background: url(images/icons/search.png) no-repeat 9em .5em;
	width:10em;
	height:19px;
	background-color:#fff;
	font-size:.95em;
	color:#444;
	font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}
input#searchsubmit {
	display: none;
}


/*---------------------MENU---------------------*/
#menu-primary2 {
	font-size: 1em;
/*	width: 75%;*/
	width:65%;
/*	margin: 30px 0 12px 0;*/
	float: right;
	position: relative;
	z-index: 99;
	border:1px dashed red;
	margin:2.95em 1.5em 0 0;
}
#menu-primary2 .menu2 { float: right; }
#menu-primary2 .menu2 ul { float: right; }
#menu-primary2 li {
	display: block;
	float: left;
	min-height: 30px;
}
#menu-primary2 li a {
	line-height: 1em;
	margin-left: 3.5em;
	display: block;
	text-transform: uppercase;
	font-size: 1em; /*0.8461538461538462em;*/
	color:#666;
	text-transform:none !important;
	box-shadow:none !important;
	text-shadow:none !important;
}
#menu-primary2 li a:hover,
#menu-primary2 li.menu-item a:hover,
#menu-primary2 li.current-menu-item a:hover,
#menu-primary2 li.dropdown a:hover {
	border-bottom:none;
	color:#F38200;	
	text-decoration:none;
}
#menu-primary2 li.current-menu-item a { 
	color: #3C8F46; 
/*	font-weight:bold;*/
	border-bottom:1px solid #3C8F46;
	padding-bottom:.15em;
}
#menu-primary2 li li, 
#menu-primary2 li li.current-menu-item li {
	clear: both;
	float: none;
	border-top: 1px dotted #888;
}
#menu-primary2 li li:first-child, 
#menu-primary2 li li.current-menu-item li:first-child { border-top: none; }
#menu-primary2 li li a, 
#menu-primary2 li li.current-menu-item li a {
	font-size: 1em;
	text-transform: none;
	color: #444;
	margin: 0 5px;
	padding: 12px 15px;
}
#menu-primary2 ul li a:hover, 
#menu-primary2 li ul li a:hover { color: #444; }

.menu2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu2 li:hover { visibility: inherit }
.menu2 li {
	float: left;
	position: relative;
}
.menu2 a {
	display: block;
	position: relative;
}
.dropdown .dropdown-toggle .caret{
	margin-top: 5px;
	margin-left:0px;
	border-top-color: #555;
	border-bottom-color: #555;
	opacity: 1;
	filter: alpha(opacity=100);
}
.dropdown-menu .divider {
 	border: 1px solid #222 !important;
}
.dropdown-menu a,
.dropdown-menu li.menu-item,
.dropdown-menu li.menu-item a {
	color: #444 !important;
	text-decoration: none;
	background-color: #eee;
}
.dropdown-menu a:hover,
.dropdown-menu li.menu-item a:hover {
	background-color:transparent !important;
	color:#F38200 !important;
}


/*---------------------PROMO---------------------*/
#site-promo {
	width:85%;
/*	clear: both;*/
	display:block;
	padding:0;
	margin:0 auto 0 auto;
/*	border:1px solid red;*/
}
#site-promo h2 {
	font-size: 1.75em;
	float: left;
	width:68%;
	margin:0 0 0 0;	
	padding:0 0 0 0;
	line-height: 150%;
	color: #666;
	text-align: center;
}
p.buttons {
	float:left;
/*	width:22%;*/
	padding:0 0 0 0;	
	margin:0 0 0 2em;
	line-height:2.6em;
	font-size:1.15em;
	letter-spacing:.05em !important;
}
a.button-start {
	border-radius:5px;
}
a.button-start:hover {
	background:#666;
	border-color:#666;
	padding: 5px 12px 6px 12px;	
	color:#fff;
}



/*---------------------HOME PAGE BASICS-----------------*/





/*
new
4580B4 = blue
F38200 = orange
gray = e5e5e5
3C8F46 - new green
error = B81900
327C0D = forest green
*/

/*
382d16
714202 - brown
c0490a - red
2dc7c1
02713c

71a5c1
86adc1
d06256
2d9f80
04684f
377766

3A5DA2
6C8ED0
879FD0
133069


027C22 g
07BF37
288F43 g
291EB2	
120A73
429CD1
68AAD1 g
05446A
275B7A
0E6BA2

3c8f46
1a5e31
69aeff
969678
3b3531
*/



/*--------WORDPRESS CLASSES-----------*/ 


/*-------IMAGES------------*/










