/*
Theme Name:     Neighborhow
Theme URI:      http://neighborhow.org/
Description:	My theme 
Author:         E Hunt
Author URI:     http://neighborhow.org/
Template:		origin
Version:        0.1.0
*/

@import url('../origin/style.css');

/*--------COLORS ---------
	01779F = blue
	BEF202 = neon green
	DE4526 = red
	E5D599 = beige
	51B4D4 = light blue for hover
	3498A7 = pool blue
	958032 = darker beige for current item
	
	CDD980 = pea green
	C3E3ED = bar blue
	F19435 = orange
	5490AE = font blue
-------------------------*/

/*--------------------------BASICS------------------------*/
body {
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;

/*	font-family:Helvetica,Arial,sans-serif !important;*/

	font-size:0.8125em/1.692307em;
	color:#555 !important;
	background:transparent !important;
	background:#fff !important;
}
a {
	color: #01779F !important;
	text-decoration: none !important;
	border:none;
}
a:hover {
	text-decoration: none;
	color: #888 !important; /*DE4526;*/
/*	border-bottom:1px solid #F19435;
	padding-bottom:.15em;*/
}
a img { 
	opacity: 1 !important; 
	filter: alpha(opacity=100) !important;	
	text-decoration:none !important;
	border-bottom:none !important;
}


/*---------------------LAYOUT---------------------*/
.row-header {
	margin:0 auto 0 auto;
	background:#fff !important;
	width:100%;
}
.row-promo {
	margin:0 auto 0 auto;	
	background:#01779F; /*C3E3ED;*/
	border-top:4px solid #CDD980;
}
.row-content {
	margin:0 auto 0 auto;	
	background:#fff !important;
	padding-bottom:1.5em;
}
.promo-loggedin {
	border-top:4px solid #01779F;
}
.promo-loggedout {
	border-top:4px solid #CDD980;
}
.row-footer {
	margin:0 auto 0 auto;	
	padding: 0 0 0 0;
	background:#01779F;
	border-top:4px solid #CDD980;
}
#header {
	clear: both;
	padding:.15em 0 0 0;	
/*	height:88px;*/
	max-width:940px;
	margin:0 auto 0 auto;
	position:relative;
	height:92px;
}
#site-promo {
	clear: both;
	height:90px;
	padding:1em 0 0 0;	
	max-width:940px;
	margin:0 auto 0 auto;
	position: relative;
}
#main {
	clear: both;
	padding:0;	
	max-width:940px;
	margin:0 auto 0 auto;
	position: relative;
}
#content {
	clear:both;
	padding:0 0 0 0;
	max-width:604px;
	margin:2em 1.75em 0 1.5em;
}
#sidebar-primary {
	float: right;
	width: 27.65957446808511%;
}
.sidebar {
	margin-top:2em !important;
	padding-right:1.25em !important;
	color:#555 !important;
}
#footer2 {
	clear:both;
	padding:0 0 0 0;
	max-width:940px;	
	margin: 0 auto 0 auto;
	overflow: visible !important;
}

#comments-template { clear: left; }

#sidebar-subsidiary {
	overflow: visible;
	width: 100%;
	margin: 30px auto 0 auto;
	padding: 30px 0 0 0;
	border-top:4px solid #01779F;
	clear: both;
}
.break {
	border-bottom:1px solid #ddd;
	padding:0;
}
.break-feature {
	clear:left;
	margin:0 0 1.5em 0;	
}


/*---------------------HEADER---------------------*/
#branding {
	float: left;
	width: 25%;
	overflow:visible !important;
	margin:1.1em 0 1em 1.5em;
}
#header img {
	float:left;
	max-width: 100%; 
	margin:0 1em .25em 0;
}
.site-title {
	float:left;
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;	
	font-size: 1.5em;
	line-height: 1em;
	font-weight: normal;
	margin:1.2em 0 1em 0;
	letter-spacing: .075em;	
	
}
/*a.home-brand {
	color:#01779F;
	border-bottom: none;
}*/
#header img:hover,
a.home-brand:hover {
	text-decoration:none;
	border-bottom:none;
/*	color:#DE4526;*/
}


/*---------------------HEADER SEARCH---------------------*/
#searchform {
	position: relative;
	top:-10px;
	padding:0;
	margin:0;
	height:19px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#555 !important;
}
#searchform input#s {
	background: url(images/icons/search.png) no-repeat 11em .5em;
	width:12em;
	height:19px;
	border-color:#ddd !important;	
	background-color:#fff;
	font-size:.95em;
	color:#555 !important; /*555;*/
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;
}
#searchform #searchsubmit {
	display: none;
}


/*---------------------MENU---------------------*/
#menu-primary2 {
	font-size: 1em;
	width:65%;
	float: right;
	position: relative;
	z-index: 99;
	margin:2.4em 1.5em 0 0;	
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;	
}

#menu-primary2 .menu2 { 
	float: right;
}

#menu-primary2 .menu2 ul { 
	float: right;
}

#menu-primary2 li {
	display: block;
	float: left;
	min-height: 30px;
}

#menu-primary2 li.menu-item a {
	line-height: 1em;
	margin-left: 1.5em;
	display: block;
	text-transform: uppercase;
	font-size: 1em;
	color:#01779F;
	text-transform:none !important;
	box-shadow:none !important;
	text-shadow:none !important;
	padding:.75em 1em .75em 1em;
}
#menu-primary2 li.menu-item a:hover {
	border-bottom:none;
	color:#fff !important;	
	text-decoration:none;
	background:#01779F;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
#menu-primary2 li.menu-search a:hover {
	background:none !important;
}
#menu-primary2 li.current-menu-item a { 
	color: #fff !important; /*E5D599 or 958032;*/
	padding-bottom:.15em;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#F19435; /*CDD980;*/
	padding:.75em 1em .75em 1em;
}

.menu2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu2 li:hover { visibility: inherit }
.menu2 li {
	float: left;
	position: relative;
}
.menu2 a {
	display: block;
	position: relative;
}

ul.dropdown-menu {
	background-color: #eee;
}
#menu-primary2 li.sub-menu {
	clear: both;
	float: none;
	padding:.25em 0 .25em 0;
	border-top: 1px dotted #01779F;
}
.dropdown {
	font-size:1em !important;
}
.dropdown .dropdown-toggle .caret{
	margin-top: 5px;
	margin-left:0px;
	border-top-color: #51B4D4;
	border-bottom-color: #51B4D4;
	opacity: 1;
	filter: alpha(opacity=100);
}
.dropdown-toggle{
	margin-top:.1em;
}
.dropdown-menu .divider { }

#menu-primary2 li.sub-menu a {
	color:#01779F !important;
}
#menu-primary2 li.sub-menu a:hover {
	background-color:transparent !important;
	color:#555 !important;
}
#menu-primary2 li li:first-child, 
#menu-primary2 li li.current-menu-item li:first-child { 
	border-top: none; 
}


/*---------------------PROMO---------------------*/
#site-promo h2 {
	font-size: 1.75em;
	float: left;
	width:68%;
	margin:.2em 0 0 1.5em;	
	padding:0;
	line-height: 140%;
	color: #fff;
	text-align: center;
	font-family:"Droid Serif",Georgia,"Times New Roman",Times,serif;
}
p.buttons {
	float:left;
	padding:0 !important;	
	margin:0 0 0 2em !important;
	line-height:2.6em;
	font-size:1.15em;
	letter-spacing:.05em !important;
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;	
}
a.button-start 	{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#F19435; /*E5D599;*/
	color:#fff !important; /*01779F;*/
}
a.button-start:hover {
	background:#444; /*DE4526;*/
	border-color:#444;
	padding: 5px 12px 6px 12px;	
	color:#fff;
}


/*---------------------HOME PAGE ENTRIES-----------------*/
.sticky-div {
	border:1px solid #CDD980;
	padding:2px 4px 3px 2px;
	margin-bottom:1.8em;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
div.entry-details {
	margin:0 -1px 0 1px !important;
	background:#CDD980; /*E5D599; /*BEF202;*/
	padding:.5em !important;
	display:block;
	height:5.25em;
	color:#01779F;
}
.hentry img {
	border:none !important;
}
.entry-details img:hover {
	border:none;
	text-decoration:none;
}
.sticky-div p.home-title {
	width:80%;
	float:left;
	margin:0 2em 0 0;
	padding:0 0 0 .5em;
	font-family:"Droid Serif",Georgia,"Times New Roman",Times,serif;
	font-size: 1.2em;
	line-height: 140%;
	word-spacing: 2px;
		
}
.home-title a {
	color: #01779F;
}
span.nh-meta {
	word-spacing:0 !important;
	font-size:11px;
	color:#555;
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;
}
.sticky-div div.home-author {
	float:right;
	margin:0;
	padding:0;
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;
}
.sticky-div p.home-avatar {
	margin:0 auto 0 auto;
	width:3.5em;
	height:3.5em;
	padding-right:1em;
}
.sticky-div p.home-avatar img {
	border:1px solid #fff !important;
	padding:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.sticky-div p.author-link {
	font-size:.9em;
	padding:9px 0 0 0;
	margin:0;
	word-spacing: 0 !important;
	padding-right:1em;
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;
}
p.author-link a span {
	font-family:"Droid Serif",Georgia,"Times New Roman",Times,serif;
	color:#888;	
	font-style:italic;
}
/*.author-link a {
	color: #01779F;
}
.home-title a:hover,
.author-link a:hover {
	color:#F19435;
	border-bottom:none;
	text-decoration:none;
}*/
.featured { 
	margin-bottom: 0px !important; 
}
.feat-div {
	border-bottom:1px solid #ddd;
	padding-bottom:1.75em;
}
.feat-div p.home-title {
	margin-bottom:.5em;
	font-family:"Droid Serif",Georgia,"Times New Roman",Times,serif;		
	font-size:1.2em;
}
.feat-div p.author-link {
	margin-bottom:.5em;	
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;
	
}
.feat-summary p { 
	font-size:1.1em;
	line-height:140%;
	color:#555;		
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;	
}
.feat-div img {
	border:1px solid #ddd !important;
	padding:2px !important;
}
div.feat-div:last-child { /*remove border from last*/
	border-bottom:none;
	margin-bottom:0;
}
a.gray-link {
	color:#888 !important; /*afafaf;*/
}
a.gray-link:hover {
	color:#F19435 !important; /*DE4526;*/
}
a.byline {
	color:#555 !important;
	font-size:inherit;
	font-style:normal;
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;
	border-bottom:1px solid #01779F;
	padding-bottom:1px;
}
a.byline:hover { 
	border-bottom:1px solid #F19435;	
}
a.byline span {
	font-family:"Droid Serif",Georgia,"Times New Roman",Times,serif;
	color:#888;	
	font-style:italic;
}



/*---------------------SIDEBAR-----------------*/
.sidebar .widget {
	float: left;
	width: 100%;
	margin-bottom: 26px;
	color: #555;
}
.sidebar .widget-title {
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;	
	font-size: 1.1em !important;
	color: #555 !important;
	text-transform: none !important;
	letter-spacing: 0 !important;
	word-spacing: 2px;
}
.sidebar .textwidget,
.sidebar .textwidget p {
	font-family:"Open Sans","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif !important;
}

div.signin {
	text-align:center;
}

/*---------------------FOOTER-----------------*/
.row-footer div {
	width:100%;
/*	border:1px solid red;*/
	padding:0 5em 1.5em 5em;
}
.row-footer div.middle {
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
.row-footer div:last-child {
	padding-left:3em;
}
.row-footer h3 {
	text-transform:uppercase;
	font-size:.85em;
	color:#fff;
	text-align:left;
	letter-spacing:.09em;
	font-weight:bold;
	margin:1.5em 0 0 0;
}
.row-footer ul {
	list-style:none;
	margin:0 !important;
	padding:0 !important;
}
.row-footer ul.sub-footer {
	list-style:none;
	margin-top:-1em !important;
	padding-top: 0 !important;
}
.row-footer ul.sub-footer li {
	float:left;
	padding-right:2em;
}
.row-footer li {
	font-size: .95em !important;
	line-height:140% !important;
	padding: .5em 0 .5em 0;	
}
.row-footer li.partners {
	float:left;
	padding-right:1.5em;	
}
.row-footer li.cfa {
	padding-top:1.5em;
}
.row-footer li a {
	color:#fff !important;
}
.row-footer li p.footerp {
	color:#fff !important;
	margin:0 !important;
	padding:0 !important;	
}

.row-footer li a:hover {
	color:#F19435 !important;
}


/*---------------------MEDIA QUERIES-----------------*/
/* Tablet (portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#branding {
		width:30%;
	}
	#menu-primary2 {
		width:64%;
		margin-right:0 !important;
		padding-right:0 !important;
	}
	#site-promo h2 { 
	text-align:left;
	}
	.sidebar {
		clear:both;
		float:left !important;
		margin-left:1.5em !important;
		width:40% !important;
	}
	p.buttons {
		padding:0 0 1em 0 !important;
	}
}

/* Mobile (portrait) */
@media only screen and (max-width: 767px) {
	p.site-title {
		margin:1em 0 0 0;
		padding:0px;
	}
	p.home-title {
		font-size: 90%;
	}	
	#branding {
		width:90%;
	}
	#site-promo h2 { 
	text-align:left;
	}
	#menu-primary2 {
		margin: 0 !important;
		padding:0 0 0 0;
		background:#3498A7;
		float:left;
		width:100%;
	}
	#menu-primary2 .menu2 {
		width:100%;
	}
	#menu-primary2 .menu2 ul {
		background:#ededed;
		margin:0 0 0 0;
		width:100%;
		border:none !important;
	}
	#menu-primary2 li {
		border-bottom:1px solid #555;
		width:100%;
		display:block;
	}
	#menu-primary2 li.menu-item a {
		padding:.95em .5em .95em 1em;
		margin:0;
		border-bottom:none !important;
	}
	#menu-primary2 li.menu-item a:hover {
		background:none !important;
		color:#555 !important;
	}	
	ul.dropdown-menu {
		background-color: #fff !important;
		border-radius:none !important;
	}
	#menu-primary2 li.sub-menu {
		clear: both;
		float: none;
		padding:.25em 0 .25em 0;
		border-top: 1px dotted #01779F;
	}
	#menu-primary2 li.sub-menu a {
		color:#01779F !important;
	}
	#menu-primary2 li.sub-menu a:hover {
		background-color:transparent !important;
		color:#555 !important;
	}
	#menu-primary2 li.current-menu-item a { 
		color: #fff !important; /*E5D599 or 958032;*/
		border-radius:0 !important;
		background:#F19435;
	}
	#menu-primary2 ul.dropdown-menu li.sub-menu a {
		background:#fff !important;
		color:#01779F !important;
	}
	#searchform {
		margin-top:.5em;
	}
	#searchform input#s{
		width:220px !important;
		background: url(images/icons/search.png) no-repeat 16em .5em;		
		background-color:#fff;
	}
	#site-promo h2 {
		font-size:1.5em;
		margin-bottom:0;
		padding-bottom:0;
		width:80%;
	}
	p.buttons {
		clear:left;
		float:left;
		padding:0 0 1em 0 !important;
		margin-top:0;
	}	
	#content {
		margin-right:0 !important;
		padding-right:0 !important;	
		width:90%;
	}
	.sidebar {
		clear:both;
		float:left !important;
		margin-left:1.5em !important;
		width:90% !important;
		padding-right:0 !important;
	}	
	.sidebar .widget { }


	.row-footer div.partnerul {
		margin-left:2em !important;
	}
	.row-footer div.middle {
		border-top:1px solid #fff !important;
		border-bottom:1px solid #fff !important;		
		border-left:none !important;		
		border-right:none !important;				
	}
}

@media only screen and (max-width: 480px) {	
/*	.wrap {max-width:340px;}*/
	#branding {
		width:80%;
	}
	#site-promo h2 {
		font-size:1.4em;
		width:80%;
		margin-bottom:0;
		padding-bottom:0;
	}
	p.buttons {
		clear:left;
		float:left;
		margin:0 0 0 0;
		padding:0 0 1em 0 !important;
		width:80%;
	}
	#searchform input#s{
		width:220px !important;
		background: url(images/icons/search.png) no-repeat 16em .5em;		
		background-color:#fff;
	}
	div.entry-details {
		padding-bottom:1em;
	}
	p.home-title {
		width:65% !important;
		font-size:80% !important;
	}
	p.home-title span {
		font-size:120% !important;	
	}
}